html {
  height: auto !important;
  width: 100% !important;
  background: no-repeat center center fixed;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-size: auto;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: overlay;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

html {
  background-image: url('https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
}

body{
  min-height: 100vh !important;
  overflow: scroll;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: white;
}


.homepage-panel {
  overflow-x: hidden;
  margin: 20px auto;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}